@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "../app/utils.scss";

.bg {
  background-color: $bg;
  position: absolute;
  height: 110vh;
  width: 100%;
}

.main {
  @include flex-cc;

  ::selection {
    color: $bg;
    background-color: $title;
  }
}

#level-title {
  font-family: var(--press);
  font-weight: 400;
  font-size: clamp($size-2xl, 3vw, $size-6xl);
  margin: $size-3xl;
  color: $title;
  text-align: center;
}

#high {
  font-family: var(--press);
  font-weight: 400;
  font-size: clamp($size-lg, 2vw, $size-3xl);
  margin-bottom: $size-xl;
  color: $title;
  text-align: center;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  margin: 2rem;
  grid-template-areas:
    "btn1 btn2"
    "btn3 btn4";
}

.btn {
  border: 10px solid black;
  border-radius: 20%;
  user-select: none;
}

.game-over {
  background-color: red;
  opacity: 0.8;
  position: absolute;
  height: 100%;
  width: 100%;
}

.red {
  background-color: red;
  grid-area: btn2;
}

.green {
  background-color: green;
  grid-area: btn1;
}

.blue {
  background-color: blue;
  grid-area: btn4;
}

.yellow {
  background-color: yellow;
  grid-area: btn3;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

// 3xs
@media (min-width: 320px) {
  .btn {
    height: 150px;
    width: 150px;
  }
}

// 2xs
// @media (min-width: 375px) {}

// xs
// @media (min-width: 475px) {}

// sm
// @media (min-width: 640px) {}

// md
@media (min-width: 768px) {
  .btn {
    height: 200px;
    width: 200px;
  }
}

/* lg */
// @media (min-width: 1024px) {}

// xl
// @media (min-width: 1280px) {}

// 2xl
// @media (min-width: 1536px) {}
