@import "../app/utils.scss";

#window {
  @include flex-cc;
  color: $bg;
  background-color: $title;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 2.5rem;
  width: 90%;
  max-width: 900px;
  max-height: 1000px;
  margin: 0 auto;
}

#intro {
  @include flex-cc;
  justify-content: flex-end;
  margin-bottom: 0.5rem;

  h1 {
    font-size: clamp($size-3xl, 3vw, $size-8xl);
  }

  h4 {
    font-size: clamp($size-xl, 2vw, $size-2xl);
  }
}

#main {
  @include flex-cc;

  li {
    font-size: clamp($size-base, 2vw, $size-xl);
    text-align: justify;
    margin: 0.5rem 0;
  }
}

#foot {
  div {
    @include flex-c;
    gap: 1rem;
  }

  button {
    font-size: clamp($size-base, 2vw, $size-lg);
    background-color: $bg;
    color: $title;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem 0rem;
    transition: 0.2s linear;

    &:hover {
      background-color: $title;
      font-weight: bold;
      color: $bg;
      box-shadow: 5px 5px 10px $bg;
    }
  }
}

// 3xs
// @media (min-width: 320px) {}

// 2xs
// @media (min-width: 375px) {}

// xs
// @media (min-width: 475px) {}

// sm
// @media (min-width: 640px) {}

// md
// @media (min-width: 768px) {}

/* lg */
// @media (min-width: 1024px) {}

// xl
// @media (min-width: 1280px) {}

// 2xl
// @media (min-width: 1536px) {}
