@import "../app/utils.scss";

.head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.lb {
  margin-right: auto;
  text-decoration: none;
}

#btn {
  padding: 0.5rem;
  color: $title;
  font-size: clamp($size-base, 2vw, $size-2xl);
}
